.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(44, 214, 249, 1) 100%);
  }
  
  .container .img img {
    border-radius: 50%;
    width: 70%;
    height: auto;
  }
  
  .container p {
    text-align: center;
    font-family: sans-serif;
  }
  